  .grid-container {
  /* position:absolute; */
  display: grid;
  grid-template-columns: /*1em 1em 1em 1em 1em 1em 1em 1em 1em 1em;*/ 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  height: 1.5em;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px;
  font-size: 30px; */
  text-align: center;
}


.tetromino {
  background-color: red;
  /* z-index: 2; */
}

.tetromino-preview {
  /* position:absolute;
  left: 20em; */
  display: grid;
  grid-template-columns: 1.5em 1.5em 1.5em 1.5em;
  background-color:#6666ff;
  padding: 10px;
  row-gap: 0px;
  height: 6.5em;
  padding-left: 3em;

}

.preview-item {
  height: 1.5em;
  background-color: rgba(199, 199, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px;
  font-size: 30px; */
  text-align: center;
  /* z-index: -1; */
}


.container {
  /* background-color: pink; */
  display: flex;
  flex-wrap: wrap;
}



#game-over{
  display:inline-block;
  color:pink;
  position: relative;
  bottom:8em;
  text-shadow: 2px 6px #ff0000;

  transform:rotate(-39deg);
  font-size: 1.5em;

}


#score-style {
  color:rgba(255, 255, 255, 0.8);
  /* text-shadow: 1px -2px dodgerblue; */

}

#score {
  color: rgba(255, 255, 255, 0.8);



}

#panel {
  /* position: relative; */
  transform: translate(-8em, 8em);
  right: 13em;
  z-index:2;
}




@keyframes color-change {
from {color:black;}
to {color:rgba(255, 255, 255, 0.8);}
}


.animated-text{
animation-name: color-change;
animation-duration: 0.5s;
/*animation-delay: 2s*/
animation-iteration-count: infinite;
}


@keyframes font-fade {
from {opacity:1.0;}
to {opacity: 0.0;}
}

.fading-font {
  animation-name: font-fade;
  animation-duration: 2.5s;

}

#scorePeek {
  opacity: 0.0;
  color: rgba(255, 255, 255, 0.8);
}
